{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   


  <!-- CORE CSS-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'material/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{% static 'material/css//style.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->    
    <!-- <link href="../static/material/css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../static/material/css/layouts/page-center.css" type="text/css" rel="stylesheet" media="screen,projection"> -->

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
   <!-- jQuery Library -->
  <script type="text/javascript" src="{% static 'material/js/plugins/jquery-1.11.2.min.js' %}"></script>
  <link href="{% static 'material/js/plugins/prism/prism.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{% static 'material/js/plugins/perfect-scrollbar/perfect-scrollbar.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <title>{% block title %}{{data.title}}{% endblock %}</title>
    {% block 'head' %}
    {% endblock %}
</head>
<body>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/userLogin">Login</a></li>
    <li class="divider"></li>
    <li><a href="/register">Register</a></li>
  </ul>
	<nav>
      <div class="nav-wrapper red accent-1">
        <ul class="left">                      
        <li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1">ML Based Career Service</a></h1></li></ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <!-- <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Login / Register<i class="material-icons right">arrow_drop_down</i></a></li> -->
          <li><a href="/userLogin">Login / Register</a></li>
        </ul>
      </div>
    </nav>
    {% block 'content' %}
    {% endblock %}
    <footer class="page-footer red accent-1">
	    <div class="footer-copyright">
        <div class="container">
        <span>Copyright © 2018 <a class="grey-text text-lighten-4" target="_blank">Apha Beta Gamma</a> All rights reserved.
        </span>
        <span class="right"> Design and Developed by <a class="grey-text text-lighten-4">Apha Beta Gamma</a></span>
        </div>
      </div>
    </footer>
        
          <!-- ================================================
	    Scripts
	    ================================================ -->

		 
		  <!--materialize js-->
		  <script type="text/javascript" src="{% static 'material/js/materialize.min.js' %}"></script>
		  <!--prism-->
		  <script type="text/javascript" src="{% static 'material/js/plugins/prism/prism.js' %}"></script>
		  <!--scrollbar-->
		  <script type="text/javascript" src="{% static 'material/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
		  
	      <!--plugins.js - Some Specific JS codes for Plugin Settings-->
	    <script type="text/javascript" src="{% static 'material/js/plugins.min.js' %}"></script>
	    <!--custom-script.js - Add your own theme custom JS-->
	    <script type="text/javascript" src="{% static 'material/js/custom-script.js' %}"></script>

      {% block 'footer' %}{% endblock %}

      <script type="text/javascript">

        // $(document).ready(function(){
        //     $(".dropdown-content.select-dropdown li");
      $(document).ready(function(){
        $(".dropdown-trigger").dropdown({ hover: false });
         $('.parallax').parallax();
      });
    </script>
	</body>
</html>