{% extends "base/dashboard_base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card-panel">
			<h4 class="header2">Data Set from Kaggle</h4>
			<div class="row">
				<div class="col s12">
					<script type='text/javascript' src='https://us-west-2b.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz' width='1000' height='827' style='display:none;'><param name='host_url' value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;adsdataanalytics' /><param name='name' value='Book2&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='filter' value='iframeSizedToWindow=true' /></object></div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}