{% extends "base/dashboard_base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card-panel">
			<h4 class="header2">Upload your resume here for Profile Evaluation</h4>
			<div class="row">
				<form action="/upload_file" method="post" enctype=multipart/form-data>{% csrf_token %}
					<div class="file-field input-field">
						<div class="btn">
							<span>Upload File</span>
							<input type="file" name="file">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
								<i class="mdi-content-send right"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% if isResults %}
<div class="section">
	<div class="row">
		
		<div class="col s12 m12 l12">
			<div class="card-panel">
				<h4 class="header2">Profile Evaluation</h4>
				<div class="container">
					<div class="row">
						<div id="table-datatables">
							<h4 class="header">Data Tables</h4>
							<br>
							<button id="dl" class="btn btn-primary">Download</button>
							<br>
							<div class="row">
								
								<div class="col s6 m6 l6">
									<table id="simplesree" class="bordered" cellspacing="0">
										<thead>
											<tr>
												<th>Rank</th>
												<th>Position</th>
											</tr>
										</thead>

										<tfoot>
											<tr>
												<th>Rank</th>
												<th>Position</th>
											</tr>
										</tfoot>

										<tbody>
											{% for rank in ranks %}
											<tr>
												<td>{{ forloop.counter }}</td>
												<td>{{rank.0}}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}